@keyframes animatedBackground {
	0% { background-position: 0 0; }
  50% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

@keyframes animatedBackground2 {
	0% { background-position: 75% 0; }
  50% { background-position: 0 0; }
  100% { background-position: 25% 0; }
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .inner-content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../assets/background-svg.svg);
    background-repeat: repeat-x;
    animation: animatedBackground 8s linear infinite;
    z-index: -1;

    .inner-content {
      background-position-x: 100%;
      animation: animatedBackground2 20s linear infinite;
      filter: hue-rotate(-30deg);
      z-index: -2;
    }

    &.loaded {
      opacity: 0.75;
      transition: opacity 2s ease-out;
      animation-play-state: paused;
      .inner-content {
        opacity: 0.6;
        transition: opacity 2s ease-out;
        animation-play-state: paused;
      }
    }
    &.loading {
      opacity: 0.25;
      transition: opacity 2s ease-in;
      animation-play-state: running;
      .inner-content {
        opacity: 0.25;
        transition: opacity 2s ease-in;
        animation-play-state: running;
      }
    }
  }
}

.table-container {
  min-width: 1280px;
  padding: 16px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fafafa;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow:
    0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
}

.table-component-container {
  z-index: 2;
}

.fetch-button {
  background-color: #0099ff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: white;
  font-family: sans-serif;
  top: 26px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  cursor: pointer;
  opacity: 1;
  transform: scale(1.0);
  transition: transform 0.2s ease-in;
  margin-bottom: 8px;
  &:after {
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow:
      rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
      rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    content: '';
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.5;
    transform: scale(0.9);
    transition: all 0.2s ease-out;
  }
  &:before {
    width: 30px;
    height: 30px;
    z-index: 1;
    top: 0;
    left: 25%;
    mix-blend-mode: soft-light;
    opacity: 0;
    border-radius: 90px;
    position: absolute;
    background-color: #0099ff;
    transition: all 0.3s ease-in;
    content: '';
  }
  &.loading:before {
    transform: scale(60);
    opacity: 0.75;
    transition: all 0.3s ease;
    animation: breathing 2s ease-out;
  }

  &:hover:after {
    opacity: 1;
    transition: opacity 0.2s ease-out;
  }
}

@keyframes breathing {
  0% { left: 25% }
  100% { left: 0 }
}

@mixin eggs {
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 0;
  background-image: url('../assets/egg.png');
  display: none;
}

@keyframes egg1frames {
  0% { left: 150%; }
  50% { left: 90%; }
  100% { left: -30%; }
}
@keyframes egg2frames {
  0% { left: 120%; }
  50% { left: 20%; }
  100% { left: -10%; }
}
@keyframes egg3frames {
  0% { left: 175%; }
  50% { left: 30%; }
  100% { left: -50%; }
}
@keyframes egg4frames {
  0% { left: 120%; }
  25% { left: 75%; }
  100% { left: -24%; }
}
@keyframes egg5frames {
  0% { left: 166%; }
  100% { left: -35%; }
}

.easter-egg {
  position: absolute;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 100%;
  .egg {
    &1 {
      @include eggs;
      left: 150%;
      top: 50%;
    }
    &2 {
      @include eggs;
      left: 120%;
      top: 60%;
    }
    &3 {
      @include eggs;
      left: 175%;
      top: 85%;
    }
    &4 {
      @include eggs;
      left: 120%;
      top: 90%;
    }
    &5 {
      @include eggs;
      left: 166%;
      top: 80%;
    }
  }

  &.active .egg {
    &1 {
      display: block;
      animation: egg1frames 20s ease;
    }
    &2 {
      display: block;
      animation: egg2frames 30s ease;
    }
    &3 {
      display: block;
      animation: egg3frames 18s ease;
    }
    &4 {
      display: block;
      animation: egg4frames 22s ease;
    }
    &5 {
      display: block;
      animation: egg5frames 18s ease;
    }
  }
}