<div class="content" role="main">
  <div class="inner-content" [class.loading]="(loading$ | async)" [class.loaded]="!(loading$ | async)">
    <div class="inner-content"></div>
  </div>
    <div class="table-container">
      <div class="button-container">
        <button class="fetch-button"
          (click)="fetchData()">Simulate Data Fetch</button>
      </div>
      <div>
      <ui-ng-table
        [primaryKey]="'id'"
        [loading]="(loading$ | async)"
        [maxHeight]="350"
        [items]="(people$ | async)"
        [colDefs]="colDefs"
        (filterUpdate)="receiveFilters($event)"
        ></ui-ng-table>
    </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>